atomicwrites==1.4.1
attrs==25.3.0
blinker==1.9.0
certifi==2025.1.31
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
dash==3.0.2
dash-bootstrap-components==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.0
dash-table==5.0.0
dash-tools==1.12.0
dash_cytoscape==1.0.2
distlib==0.3.9
docopt==0.6.2
filelock==3.18.0
Flask==3.0.3
fonttools==4.57.0
gunicorn==23.0.0
identify==2.6.10
idna==3.10
importlib_metadata==8.6.1
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.1
narwhals==1.33.0
nest-asyncio==1.6.0
nodeenv==1.9.1
numpy==2.2.4
packaging==21.3
pandas==2.2.3
pillow==11.1.0
pipreqs==0.4.12
platformdirs==4.3.7
plotly==6.0.1
pluggy==1.5.0
pre-commit==2.16.0
py==1.11.0
pyparsing==3.2.3
pytest==6.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
retrying==1.3.4
ruamel.yaml==0.17.21
scipy==1.15.2
setuptools==78.1.0
six==1.17.0
termcolor==1.1.0
toml==0.10.2
typing_extensions==4.13.1
tzdata==2025.2
urllib3==2.3.0
virtualenv==20.30.0
visdcc==0.0.50
Werkzeug==3.0.6
yarg==0.1.10
yolk3k==0.9
zipp==3.21.0