h1 {
    color: transparent;
    font-style: italic;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    animation: effect 2s linear infinite;
}

body {
    background-color: #212121;
}

P, H2, H3, .radioItems {
    color: white;
}

@keyframes effect {
    0% {
        background: linear-gradient(#008000, #00FF00);
        -webkit-background-clip: text;
    }

    33% {
        background: linear-gradient(#3CE7D7, #000FFF);
        -webkit-background-clip: text;
    }

    67% {
        background: linear-gradient(#e13ce7, #ff00ff);
        -webkit-background-clip: text;
    }

    100% {
        background: linear-gradient(#e73c3c, #ff0000);
        -webkit-background-clip: text;
    }
}